#root{
  list-style-type: none;
  text-decoration: none;
}

.head{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 3rem;
}
ul.head li{
  padding: 1rem;
}

.search{
  display: flex;
  justify-content: right;
  margin-left: auto;
  padding: 0.5rem 7rem 0.5rem 0.5rem;
  margin-right: 1rem;
}

.pokemon{
  display: flex;
  flex-wrap: wrap;
}

ul.pokemon li{
  padding: 1rem;
  list-style-type: none;
  font-size: 20px;
}

.types{
  display: flex;
}

ul.types li{
  padding: 1rem;
  list-style-type: none;
  font-size: 20px;
}

h1{
  display: flex;
  padding: 1rem 0 3rem 3rem;
  font-size: 50px;
}

h2{
  padding: 1rem 0 0.5rem 3rem;
  font-size: 30px;
}
